.app {
    background: #f1f1f1;
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
    grid-template-areas: "cabecalho" "conteudo" "rodape";
    grid-template-columns: auto;
    grid-template-rows: 50px auto auto;
}


/* CSS PARA CABECALHO */

.cabecalho {
    align-items: center;
    display: flex;
    grid-area: cabecalho;
    padding: 0 2rem;
}

.menu__link {
    color: #333;
    padding: .5rem 1rem;
}

.menu__link:hover, .menu__link.ativo {
    border-bottom: 2px solid #0073e6;
}

/* CSS PARA A PARTE CONTEUDO */

.conteudo {
    grid-area: conteudo;
    padding: 0 2rem;
}

.destaques {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 33.3% 33.3% 33.3%;
    grid-gap: .6rem;
    height: calc(100vh - 50px);

}

.caixa {
    display: flex;
    align-items: flex-end;
}

.destaques__titulo {
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    padding: .6rem;
    text-align: center;
    width: 100%;
}

.destaques__principal {
    background: url("../img/fortnite.jpg") center / cover no-repeat;
    grid-column: 1 / 4;
    grid-row: 1 / 3;
}

.destaques__secundario:nth-child(2) {
    background: url("../img/pubg.jpg") center / cover no-repeat;
    grid-column: 4 / 4;
    grid-row: 1 / 1;
}

.destaques__secundario:nth-child(3) {
    background: url("../img/slack.png") center / cover no-repeat;
    grid-column: 4 / 4;
    grid-row: 2 / 2;
}

.destaques__secundario:nth-child(4) {
    background: url("../img/whatsapp.png") center / cover no-repeat;
    grid-column: 4 / 4;
    grid-row: 3 / 3;
}

.destaques__secundario:nth-child(5) {
    background: url("../img/cs-go.jpg") center / cover no-repeat;
    grid-column: 3 / 3;
    grid-row: 3 / 3;
}

.destaques__categorias {
    grid-column: 1 / 3;
    grid-row: 3 / 3;
}

.destaques__categorias___lista {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-between;
}

.destaques__categorias___item {
    display: flex;
    background: #fdfdfd;
    /* border-left: 5px solid transparent; */
    /* color: #333; */
    padding: 1rem;
    width: 50%;
    align-items: center;
}

.destaques__categorias___link {
    color: inherit
}

/* CSS PARA A PARTE POPULARES */

.populares__conteudo {
    display: flex;
    flex-wrap: wrap;
    grid-area: conteudo;
    padding: 1rem 0;
}

.populares__card {
    background: #fff;
    display: grid;
    grid-template-areas: "card-imagem" "card-corpo";
    grid-template-columns: 100%;
    grid-template-rows: 173px auto;
    margin-right: 1rem;
    width: calc(20% - 1rem);
}

.populares__card:last-child {
    margin-right: 0;
}

.populares__card___imagem {
    grid-area: card-imagem;
    height: 100%;
    width: 100%;
}

.populares__card___corpo {
    display: grid;
    grid-area: card-corpo;
    grid-row-gap: .5rem;
    grid-template-areas: "card-cabecalho" "card-conteudo";
    grid-template-rows: 50px auto;
    padding: .75rem;
}


.populares__card___titulo {
    color: #808080;
    font-size: 1.5rem;
}

.populares__card___data {
    color: #808080;
    font-size: .9rem;
}

.populares__card___descricao {
    color: #333;
    line-height: 1.5;
    margin: 1rem 0;
    text-align: justify;
}

.populares__titulo {
    font-weight: 500;
}

.populares__icone {
    margin-right: .25rem;
}

.populares__cabecalho {
    border-bottom: 1px solid #dcdcdc;
    display: flex;
    justify-content: space-between;
}

.populares__botao {
    background: transparent;
    border: none;
    color: #333
}

.rodape {
    grid-area: rodape;
    background: #fdfdfd;
    color: #333;
    font-size: .8rem;
    padding: 1rem;
    text-align: center;
}





















































